

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-mini">
            FD
          </a>
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-normal">
            Flask Dashboard
          </a>
        </div>

        {% if current_user.is_authenticated %}
        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>لوحة القيادة</p>
            </a>
          </li>
          <li>
            <a href="/ui-icons">
              <i class="tim-icons icon-atom"></i>
              <p>الرموز</p>
            </a>
          </li>
          <li>
            <a href="/ui-maps">
              <i class="tim-icons icon-pin"></i>
              <p>خرائط</p>
            </a>
          </li>
          <li>
            <a href="/ui-notifications">
              <i class="tim-icons icon-bell-55"></i>
              <p>إخطارات</p>
            </a>
          </li>
          <li>
            <a href="/page-user">
              <i class="tim-icons icon-single-02"></i>
              <p>ملف تعريفي للمستخدم</p>
            </a>
          </li>
          <li>
            <a href="/ui-tables">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>قائمة الجدول</p>
            </a>
          </li>
          <li>
            <a href="/ui-typography">
              <i class="tim-icons icon-align-center"></i>
              <p>طباعة</p>
            </a>
          </li>
          <li>
            <a href="/page-rtl-support">
              <i class="tim-icons icon-world"></i>
              <p>دعم RTL</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design">
              <i class="tim-icons icon-spaceship"></i>
              <p>See product</p>
            </a>
          </li>
        </ul>
        {% endif %}
        
      </div>
    </div>
