<!--   Core JS Files   -->
<script src="{{ config.ASSETS_ROOT }}/js/core/jquery.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/popper.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="{{ config.ASSETS_ROOT }}/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{{ config.ASSETS_ROOT }}/js/black-dashboard.min.js?v=1.0.0"></script>
<!-- Black Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ config.ASSETS_ROOT }}/demo/demo.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/themeSettings.js"></script>
