{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                <div class="card-header">
                  <h5 class="title">Register</h5>

                  <h6 class="card-category">
                      Add your credentials
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Username</label>
                          <input class="form-control" id="username_create" name="username" required="" type="text" value="">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" id="email_create" name="email" required="" type="email" value="">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Password</label>
                          <input class="form-control" id="pwd_create" name="password" required="" type="password" value="">
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                  <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
                  &nbsp; &nbsp;
                  Have an account? <a href="/login.html" class="text-primary">Login</a>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
