
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="nav-link">
                App Info
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/app-generator/flask-black-dashboard" class="nav-link">
                Sources
              </a>
            </li>
            <li class="nav-item">
              <a href="https://docs.appseed.us/admin-dashboards/flask-dashboard-black/" class="nav-link">
                Docs
              </a>
            </li>
            <li class="nav-item">
              <a href="https://blog.appseed.us/tag/flask-dashboard/" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> by
            <a href="https://www.creative-tim.com/product/black-dashboard">Creative Tim</a>, 
                Coded in <a href="http://flask.pocoo.org/">Flask</a>
          </div>
        </div>
      </footer>

