
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li>
            <li class="nav-item">
              <a href="https://appseed.us/app-generator" class="nav-link">
                AppSeed
              </a>
            </li>
            <li class="nav-item">
              <a href="http://blog.appseed.us" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> by
            <a href="javascript:void(0)" target="_blank">Creative Tim</a>, 
                Coded in <a href="http://flask.pocoo.org/">Flask</a> by <a href="https://appseed.us">AppSeed</a>
          </div>
        </div>
      </footer>

